@import "../../sass/--mixin";

.navbar {

  @apply dark:bg-dark-900 bg-[#ecefff] z-50 w-full;
  a {
    @apply dark:text-dark-20 text-dark-800;
    padding: 20px 0;
    font-size: 14px;
    font-weight: 500;
  }
}

.main-nav {
  transition: all .3s ease;
  transform-origin: top;

}

.navbar-transparent {
  background: transparent;

  &.home {
    a {
      @apply text-dark-20;
    }
  }

  a {
    @apply text-dark-20;
  }

  .main-nav.expand a {
    @apply dark:text-dark-20 text-dark-800;
  }

  .main-nav.expand {
    background: rgba(54, 54, 54, 0.89);
    backdrop-filter: blur(8px);
  }
}

.logo {
  width: 250px;
}


@include getDown(640px) {

    .main-nav {
      top: 0;
      padding: 30px 10px;
      opacity: 0;
      transform: scaleY(0);
      @apply flex-col fixed w-full left-0 shadow-xl;
    }

    .main-nav a {
      padding: 0;
      margin: 0;
    }

    .main-nav.expand {
      transform: scaleY(1);
      opacity: 1;
      z-index: 200 !important;
      background: white;
      @apply dark:bg-dark-800;
      a{
        @apply dark:text-dark-20 text-dark-800;
      }
    }

    .main-nav.expand a {
      color: #414141;
    }

}

.header-height {
  height: var(--header-height);
}

.active {
  color: #2c65ec !important;
  font-weight: 500;
}



@include getDown(450px){
  .login-btn {
    display: none;
  }
}


.bar-icon {
  position: relative;
  z-index: 1000;
}


