.navbar{
    @apply z-50 w-full;
    background-color: #ecefff;
}



.main-nav{
    transition: all .3s ease;
    transform-origin: top;
}
.main-nav a{
    color: #1e1e1e;
    padding: 20px 0;
}

.navbar-transparent{
    background: transparent;
}
.navbar-transparent.home a{
    color: #e1e1e1;
}

.navbar-transparent a{
    color: #e1e1e1;
}
.logo{
    width: 250px;
}

@media screen and (max-width: 640px){
    .main-nav{
        top: 0;
        padding: 30px 10px;
        opacity: 0;
        transform: scaleY(0);
        @apply flex-col fixed w-full left-0 shadow-xl;
    }

    .main-nav a{
        padding: 0;
        margin: 0;
    }


    .navbar-transparent .main-nav.expand{
        background: rgba(54, 54, 54, 0.89);
        backdrop-filter: blur(8px);
    }
    .navbar-transparent .main-nav.expand a{
        color: #efefef;
    }


    .main-nav.expand{
        transform: scaleY(1);
        opacity: 1;
        z-index: 200!important;
        background: white;
    }

    .main-nav.expand a {
        color: #414141;
    }

}

.header-height{
    height: var(--header-height);
}


.active{
    color: #2c65ec !important;
    font-weight: 500;
}

@media screen and (max-width: 640px) {
    .main-nav.expand{
        background-color: white;
    }
}
@media screen and (max-width: 450px) {
    .login-btn{
        display: none;
    }
}
@media screen and (min-width: 450px) {
    .login-icon{
        display: none;
    }
}

.bar-icon{
    position: relative;
    z-index: 1000;
}


