
@import "src/sass/--mixin";

.container{
  max-width: 1000px !important;
  margin: 0 auto;
  padding: 0px 16px;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.card{
  @apply shadow-sm bg-white p-4 rounded-lg dark:bg-dark-800 dark:shadow-card-1;
}

.card-title{
  @apply text-center text-2xl py-4 text-dark-900 dark:text-dark-20 font-bold;
}

.header-height{
  height: var(--header-height);
}

.hero-section img{
  /*opacity: 0.9;*/
  filter: brightness(0.5);
}

.section-title{
  @apply font-bold text-3xl text-center text-dark-700 py-6
}
.section{
  margin-top: 50px;
  margin-bottom: 50px;
}

.avatar-preview-div{
  width: 200px !important;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: contain;
}
.hero-image{
  @include getDown(600px){
    height: 300px;
    object-fit: cover;
  }
}

.masonry-gallery{
  column-count: 4;
  .card{
    margin: 15px 0;
    overflow: hidden;
  }

  @include getDown(1024px){
    column-count: 3;
  }
  @include getDown(768px){
    column-count: 3;
  }
  @include getDown(600px){
    column-count: 2;
  }
  @include getDown(380px){
    column-count: 1;
  }

}