
@import "src/sass/--mixin";

.container{
  max-width: 1000px !important;
  margin: 0 auto;
  padding: 0px 16px;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.card{
  @apply shadow-sm bg-white p-4 rounded-lg;
}

.header-height{
  height: var(--header-height);
}

.hero-section img{
  /*opacity: 0.9;*/
  filter: brightness(0.5);
}

.section-title{
  @apply font-bold text-3xl text-center text-dark-700 py-6
}

.avatar-preview-div{
  width: 200px !important;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.masonry-gallery{
  column-count: 4;
  .card{
    margin: 15px 0;
    background-color: hsla(0,0%,100%,.5);
    overflow: hidden;
  }

  @include getDown(1024px){
    column-count: 3;
  }
  @include getDown(768px){
    column-count: 3;
  }
  @include getDown(600px){
    column-count: 2;
  }
  @include getDown(380px){
    column-count: 1;
  }

}